@CHARSET "UTF-8";

.ncsc-form-goods {
	border: solid #e5e5e5;
	border-width: 1px 1px 1px 1px;
}

.ncsc-form-goods h3 {
	font-size: 14px;
	line-height: 22px;
	clear: both;
	background-color: #F5F5F5;
	padding: 5px 0 5px 12px;
	border-bottom: solid 1px #E7E7E7;
}

.ncsc-form-goods h4 {
	border-left: 2px solid #126AE4;
	padding-left: 5px;
	font-size: 14px;
	color: #333333;
	margin: 15px 0 10px 10px;
}

.ncsc-form-goods dl {
	font-size: 0;
	line-height: 20px;
	clear: both;
	padding: 0;
	margin: 0;
	/* 	border-bottom: solid 1px #e5e5e5; */
	/*overflow: hidden;*/
}

.ncsc-form-goods dl dt {
	*display: inline /*IE6,7*/;
}

.ncsc-form-goods dl dt {
	font-size: 12px;
	line-height: 30px;
	color: #333;
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	text-align: right;
	display: inline-block;
	width: 13%;
	padding: 8px 1% 8px 0;
	margin: 0;
}

.ncsc-form-goods dl dd {
	font-size: 12px;
	line-height: 30px;
	vertical-align: top;
	letter-spacing: normal;
	word-spacing: normal;
	display: inline-block;
	width: 80%;
	padding: 8px 0;
	/* 	border-left: solid 1px #e5e5e5; */
	*display: inline /*IE6,7*/;
	min-height: 30px;
	margin: 0;
	/*line-height: 1;*/
}

.category-text {
	display: inline-block;
	background-color: #FFF;
	min-width: 203px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #dcdcdc;
	float: left;
	padding-left: 5px;
	box-sizing: border-box;
}

.category-button {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	float: left;
	border: 1px solid #999;
	border-left: none;
	background-color: #999;
	padding: 0 10px;
	font-size: 13px;
	color: #fff;
	box-sizing: border-box;
}

.select-button {
	padding: 2px 9px;
	font-size: 12px;
	border: 1px solid #dcdcdc;
	background-color: #eeeeee;
}

.extend-name-category {
	margin-bottom: 10px;
}

.extend-name-category .do-style {
	display: inline-block;
	color: #126AE4;
	cursor: pointer;
}

.productcategory-selected .label {
	border-radius: 5px;
	font-weight: 100;
	padding: 0 10px;
}

label.error {
	font-size: 12px;
	color: #E84723;
	margin-left: 8px;
}

.alert {
	line-height: 20px;
	margin-bottom: 0;
}

/* .alert-info { */
/* 	color: #3a87ad; */
/* 	background-color: #d9edf7; */
/* 	border-color: #bce8f1; */
/* } */

/* .alert-info h4 { */
/* 	color: #3a87ad; */
/* 	font-size: 17.5px; */
/* } */
.alert-info p {
	margin: 0 0 10px;
	font-size: 14px;
}

.add-on {
	line-height: 28px;
	background-color: #E6E6E6;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 28px;
	height: 28px;
	border: solid #CCC;
	border-width: 1px 1px 1px 0;
	margin: 0;
	vertical-align: middle;
	font-style: normal;
}

.goods-nav {
	background: #E1E6F0;
	overflow: hidden;
	padding-left: 5px;
}

.goods-nav.fixed {
	position: fixed;
	top: 50px;
	z-index: 1000;
	width: 100%;
}

.goods-nav li {
	float: left;
	width: 85px;
	text-align: center;
	padding: 5px 2px 0 2px;
	position: relative;
	cursor: pointer;
	transition: all 0.3s;
}

.goods-nav li a {
	display: block;
	color: #333;
	height: 35px;
	line-height: 35px;
	padding: 0 8px;
}

.goods-nav li.selected a,.goods-nav li:hover a {
	background: #fff;
	color: #0059d6;
}

/*.goods-nav li.arrow-right {
	color: #333;
	width: 10px;
	padding: 10px;
	font-size: 18px;
}

.goods-nav li.selected,.goods-nav li:hover {
	color: #0059d6;
}
*/
/* .goods-nav li:hover:after,.goods-nav li.selected:after { */
/* 	content: ' '; */
/* 	display: block; */
/* 	border-bottom: 2px solid #126AE4; */
/* 	width: 50px; */
/* 	margin: 0 auto; */
/* 	position: absolute; */
/* 	left: 50%; */
/* 	padding-top: 8px; */
/* 	transform: translateX(-50%); */
/* 	-ms-transform: translateX(-50%); IE 9 */
/* 	-moz-transform: translateX(-50%); Firefox */
/* 	-webkit-transform: translateX(-50%); Safari 和 Chrome */
/* 	-o-transform: translateX(-50%); Opera */
/* } */
.block-goods-sku,.block-buy-setting,.block-photo-video-setting,.block-goods-detail-setting,.block-goods-type,.block-template-setting
	{
	display: none;
}

.block-goods-detail-setting {
	padding: 10px;
}

.radio input[type="radio"],.checkbox input[type="checkbox"] {
	margin-left: -18px;
}

.block-photo-video-setting .goods-photos {
	/* 	padding:10px; */
	
}

.block-photo-video-setting .goods-photos h4,.block-photo-video-setting .goods-video h4,.block-photo-video-setting .goods-sku-picture h4
	{
	/* 	color: #464646; */
	/* 	font-size: 14px; */
	/* 	padding: 5px 10px; */
	/* 	background: #f7f7f7; */
	
}

.block-photo-video-setting .goods-video {
	
}

.block-photo-video-setting .goods-sku-picture {
	/* 	display: none; */
	
}

.ncsc-goods-default-pic .goodspic-uplaod .handle {
	margin: 10px 0 0;
}

.block-goods-sku nav {
	overflow: hidden;
	padding: 10px 10px 0px;
}

.block-goods-sku nav li {
	float: left;
	line-height: 40px;
	height: 40px;
	padding: 0 15px;
	position: relative;
}

.block-goods-sku nav li:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	height: 15px;
	top: 50%;
	border-left: 1px solid #0059d6;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%); /* IE 9 */
	-moz-transform: translateY(-50%); /* Firefox */
	-webkit-transform: translateY(-50%); /* Safari 和 Chrome */
	-o-transform: translateY(-50%); /* Opera */
}

.block-goods-sku nav li:last-child:after {
	display: none;
}

.block-goods-sku .volume-set-sku-info {
	padding: 10px 10px 0;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}

.block-goods-sku .volume-set-sku-info a {
	margin-right: 10px;
}

.block-goods-sku .volume-set-sku-info input,.block-goods-sku .volume-set-sku-info button
	{
	display: none;
}

.block-goods-sku .goods-sku-list {
	text-align: center;
	font-size: 12px;
	padding: 10px;
}

.block-goods-sku>.goods-sku-list .input-common {
	padding: 2px;
	width: 120px;
}

.goods-sku-attribute-block {
	padding: 10px;
	display: none;
}

.goods-sku-attribute-block tr td {
	line-height: 30px;
}

.block-goods-sku>.table-class tr td {
	border: 1px solid #F7F1F1;
}

.table-class tr th {
	/* 	border-right: 1px solid #F7F1F1; */
	border: 1px solid #F7F1F1;
}

.table-class tr td {
	border: 1px solid #e5e5e5;
}

.table-class tbody td a {
	margin-left: 0;
}

.btn-common-cancle {
	background: #999;
}

.btn-common-cancle:hover {
	background: #aaa;
}

.edit-sku-popup-mask-layer {
	opacity: 0.7;
	background: rgb(0, 0, 0);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	user-select: none;
	z-index: 3000;
	display: none;
}

.edit-sku-popup {
	position: fixed;
	z-index: 3000;
	left: 50%;
	top: 50%;
	margin-left: -480px;
	width: 960px;
	margin-top: -292px;
	display: none;
}

.edit-sku-popup header {
	position: relative;
	background: #E1E6F0;
	border-radius: 5px 5px 0 0;
}

.edit-sku-popup header h3 {
	color: #333333;
	font-size: 14px;
	font-weight: normal;
	text-indent: 1em;
	margin: 0;
}

.edit-sku-popup header span {
	position: absolute; //
	color: #fff;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%); /* IE 9 */
	-moz-transform: translateY(-50%); /* Firefox */
	-webkit-transform: translateY(-50%); /* Safari 和 Chrome */
	-o-transform: translateY(-50%); /* Opera */
	font-size: 18px;
	cursor: pointer;
}

.edit-sku-popup-body {
	background: #fff;
	overflow: hidden;
	padding: 0 20px 20px;
	display: none;
}

.edit-sku-popup-body aside {
	float: left;
}

.edit-sku-popup-body aside>ul {
	padding-top: 10px;
	width: 186px;
	height: 400px;
	overflow-y: auto;
	border: 1px solid #ccc;
}

/*添加规格*/
.edit-sku-popup-body aside>ul li.add-sku input {
	padding: 0 0 0 10px;
	width: 90% !important;
	border: 0 !important;
	box-shadow: none;
	display: none;
}

.edit-sku-popup-body aside>ul li.add-sku strong {
	font-weight: normal;
}
/*添加规格*/
.edit-sku-popup-body aside>ul li span {
	color: #ff5a00;
	float: right;
	margin-right: 10px;
}

.shut {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 14px;
	height: 14px;
	line-height: 13px;
	text-align: center;
	font-style: normal;
	text-indent: 0;
	background-color: #eee;
	z-index: 2;
}

.edit-sku-popup-body aside>ul li {
	color: #636363;
	display: block;
	position: relative;
	margin: 0 10px 8px;
	height: 30px;
	text-indent: 20px;
	color: #636363;
	line-height: 28px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-size: 12px;
}

.edit-sku-popup-body aside>ul li.selected,.edit-sku-popup-body aside>ul li:hover
	{
	border-color: #0059d6;
	color: #0059d6;
}

.edit-sku-popup-body aside>ul li.selected .fa,.edit-sku-popup-body aside>ul li:hover .fa
	{
	color: #0059d6;
}

.edit-sku-popup-body aside>ul li:hover .shut {
	display: block;
}

.edit-sku-popup-body aside>ul li .fa {
	text-indent: 0;
	margin-right: 7px;
	color: #999;
}

.edit-sku-popup-body article {
	margin-left: 20px;
	float: left;
	width: 77%;
}

.edit-sku-popup-body article>div {
	border: 1px solid #ccc;
}

.edit-sku-popup-body article>div .sku-value-list {
	display: none;
}

.edit-sku-popup-body article>div label {
	margin: 0;
	font-size: 12px;
	color: #636363;
	border-bottom: 1px solid #d9e9f7;
	height: 30px;
	line-height: 30px;
	background: #E1E6F0;
}

.edit-sku-popup-body article>div label input {
	margin: -1px 10px 0 !important;
}

.edit-sku-popup-body article ul {
	padding: 10px;
	overflow: hidden;
	background: #fff;
	height: 383px;
	overflow-y: auto;
	padding-top: 14px;
}

.edit-sku-popup-body article ul li {
	float: left;
	margin: 0 5px 10px 0;
	padding: 0 10px;
	color: #636363;
	line-height: 28px;
	border: 1px solid #ccc;
	font-size: 12px;
	cursor: pointer;
	position: relative;
}

.edit-sku-popup-body article ul li.selected,.edit-sku-popup-body article ul li:hover
	{
	color: #126AE4;
	border-color: #0059d6;
	background-color: #eff7fe;
}

.edit-sku-popup-body article ul li.selected {
	background-image: url(../../img/goods_spec_value_choose.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.edit-sku-popup-body article ul li.selected .shut,.edit-sku-popup-body article ul li:hover .shut
	{
	display: block;
}

.edit-sku-popup-body article ul li:hover .fa {
	color: #126AE4;
}

.edit-sku-popup-body article ul li.add-sku-value {
	border: 1px dashed #ccc;
}

.edit-sku-popup-body article ul li.add-sku-value i {
	margin-right: 7px;
	color: #999;
}

.edit-sku-popup-body article .add-sku-value-input {
	line-height: 42px;
	height: 42px;
	display: none;
	background: #E1E6F0;
}

.edit-sku-popup-body article .add-sku-value-input input {
	height: 22px;
	width: 75%;
	padding: 2px 0 2px 5px;
	margin: 6px 0 4px 10px !important;
	vertical-align: top;
	box-shadow: none;
}

.edit-sku-popup-body article .add-sku-value-input button {
	margin: -3px 0 0 10px !important;
	padding: 3px 25px !important;
}

.edit-sku-popup-body p {
	line-height: 32px;
	height: 32px;
	color: #505050;
	font-size: 12px;
	margin: 0;
}

.edit-sku-popup footer {
	background: #f1f1f1;
	padding: 10px 10px;
	/* 	border-top: 1px solid #f5f5f5; */
	bottom: 0;
	text-align: right;
	border-radius: 0 0 5px 5px;
}

.point-card-inventory-list table tr th,.point-card-inventory-list table tr td
	{
	padding: 5px;
}

.edit-sku-popup-body article .empty-info {
	height: 440px;
	text-align: center;
	line-height: 410px;
	font-size: 18px;
}

.edit-sku-batch-info {
	background: #fff;
	overflow: hidden;
}

.edit-sku-batch-info .input-common {
	width: 120px;
	padding: 2px 2px 2px 10px;
}

/* 规格图片样式*/
.sku-picture-dl,.sku-picture-dl-box {
	display: none;
}

.sku-picture-div {
	overflow: hidden;
}

.sku-picture-span {
	display: inline-block;
	padding: 0px 12px;
	border: 1px solid #ccc;
	cursor: pointer;
	margin: 0 20px 0 0;
	font-size: 12px;
	line-height: 30px;
}

.sku-picture-box {
	border: 1px solid #E9E9E9;
}

.sku-picture-active {
	border: 1px solid #004a73;
	background: url(ADMIN_IMG/goods/icon_choose.gif) no-repeat right bottom;
	background-color: #eff7fe;
}

.sku-picture-h3 {
	font-size: 12px !important;
	color: #333;
	font-weight: normal;
	margin: 0;
	background: #F3F7FD !important;
	border-bottom: 1px solid #E9E9E9 !important;
}

/* 商品标签 */
.gruop-button {
	padding: 2px 9px;
	font-size: 12px;
	border: 1px solid #dcdcdc;
	background-color: #eeeeee;
	float: left;
}

.goods-gruop-div {
	display: none;
	float: left;
	margin-left: 10px;
}

.check-button {
	height: 30px;
	padding: 2px 9px;
	background-color: #eeeeee;
	border: 1px solid #cccccc;
}

.goods-gruop-select {
	width: 130px;
}

.span-error {
	height: 30px;
	line-height: 30px;
	color: red;
	display: none;
}

/*商品分组  */
.goods-group-line {
	float: left;
	margin-right: 15px;
}

.goods-group-line select {
	min-width: 110px;
	width: 110px;
}

.btn-submit {
	width: 90%;
	position: fixed;
	bottom: 0;
	z-index: 1000;
	background-color: #E1E6F0;
	padding: 10px 0;
	margin: 0;
	border: 1px solid #e5e5e5;
}

/*商品品牌*/
.select2-container--default .select2-selection--single {
	border-radius: 0;
}

.select2-container .select2-selection--single {
	-webkit-user-select: inherit;
}

.upload-thumb.draggable-element {
	height: 147px !important;
	line-height: 147px !important;
	text-align: center;
	margin: 0 5px;
}

.upload-thumb.draggable-element img {
	display: inline-block !important;
	vertical-align: middle !important;
	max-width: 100% !important;
	max-height: 100% !important;
	height: auto !important;
	width: auto !important;
}

.upload-thumb.sku-draggable-element {
	height: 147px !important;
	line-height: 147px !important;
	text-align: center;
}

.upload-thumb.sku-draggable-element img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
}

.js-goods-spec-value-img.sku-img-check {
	height: 25px;
	width: 25px;
	line-height: 23px;
	text-align: center;
}

.js-goods-spec-value-img.sku-img-check img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: auto;
}

.searchable-select-holder {
	width: 250px;
	border-radius: 0;
}

input[disabled],select[disabled],textarea[disabled],input[readonly],select[readonly],textarea[readonly]
	{
	background-color: #fff;
	cursor: pointer;
}

.js-virtual-goods-type-block,.js-virtual-goods-cloud-download-resources,.js-virtual-goods-site-directly-download-resources,.js-virtual-goods-point-card-inventory
	{
	display: none;
}

.js-virtual-goods-point-card-inventory span {
	color: #FF5722;
	font-weight: bold;
}

#card_password {
	width: 507px;
	height: 90px;
	resize: none;
}

/* 展示视频 */
.video-thumb {
	display: block !important;
	float: left;
	width: 290px !important;
	height: 170px !important;
	position: relative;
}

.video-thumb span {
	width: 10px;
	height: 10px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	background-image: url('../../img/video_thumb_close.png');
	background-size: 100%;
	z-index: 100;
}

.video-thumb>#my-video {
	width: 100% !important;
	height: 171px;
	background: #ffffff;
}

.ncsc-upload-btn,.upload-btn {
	margin-top: 0;
}

.point-card-inventory-management-body {
	background: #fff;
}

.point-card-inventory-management-body nav {
	overflow: hidden;
	border-bottom: 1px solid #0059d6;
	cursor: pointer;
}

.point-card-inventory-management-body nav li {
	float: left;
	padding: 10px;
	position: relative;
}

.point-card-inventory-management-body nav li.selected,.point-card-inventory-management-body nav li:hover
	{
	color: #0059d6;
}

.point-card-inventory-management-body nav li:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	height: 15px;
	top: 50%;
	border-left: 1px solid #0059d6;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.point-card-inventory-management-body nav li:last-child:after {
	display: none;
}

.point-card-inventory-management-body button {
	margin: 10px 0 10px 10px !important;
}

.point-card-inventory-add {
	display: none;
	padding: 6.5px;
	text-align: center;
}
/* 规格搜索框 */
.js-attr-block .selectric-wrapper {
	width: 188px !important;
}

.js-attr-block .selectric {
	border-bottom: none !important;
}

.box-spec-bottom {
	padding: 5px 10px;
	color: red;
	display: block;
	float: left;
}

.ncsc-upload-btn p,.upload-btn p {
	background-color: #999;
	color: #fff;
}