@CHARSET "UTF-8";

.group-child {
	left: 0;
}

body {
	background-color: #fff;
}

.nav-box {
	width: 100%;
	background-color: #f8f8f8;
	padding-bottom: 10px;
}

.slide-box {
	margin-top: 44px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #FF834C;
}

.slide-box ul {
	display: -webkit-box;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	position: relative;
}

.slide-box ul:first-child li {
	border-bottom: 1px solid rgba(255, 115, 53, 0.8);
}

.slide-box ul li {
	padding: 5px 8px;
	color: #fff;
	position: relative;
	font-size: 14px;
}

ul.fisrt-class li {
	/* 	border-bottom:1px solid red; */
	
}

.slide-box ul li div {
	/* position:relative; */
	
}
/* .slide-box ul:first-child::before {
    content: " ";
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid #0000ff24;
    width: 100%;
    z-index: 111;
    display: block;
} */
.slide-box ul::-webkit-scrollbar {
	display: none;
	height: 0 !important;
}

.nav-active {
	/* 	font-size: 15px; */
	/* 	background-color: #00bbff; */
	/* 	border-bottom: 1px solid #fff !important; */
	
}

.nav-active:after {
	/* 	content: " "; */
	/* 	display: block; */
	/* 	width: 0; */
	/* 	height: 0; */
	/* 	border-left: 5px solid transparent; */
	/* 	border-right: 5px solid transparent; */
	/* 	border-bottom: 5px solid red; */
	/* 	position: absolute; */
	/* 	left: 50%; */
	/* 	margin-left: -5px; */
	/* 	bottom: 0; */
	
}

.article-box {
	background-color: #fff;
	/* 	margin-top: 20px; */
}

.article-nav {
	height: 35px;
	line-height: 35px;
	background-color: #eee;
	padding: 0 10px;
}

.article-content ul {
	padding-left: 10px;
	padding-right: 10px;
}

.article-content ul li {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}

.box-title {
	color: #000;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin-bottom: 10px;
	font-size: 15px;
}

.box-time {
	font-size: 13px;
	color: rgb(168, 168, 168);
}

.second-class li {
	display: none;
}